@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Droid+Sans|Droid+Sans+Mono|Fira+Mono');

$body-font: "DejaVu Sans Mono", monospace;
$title-font: "DejaVu Sans Mono", monospace;
$code-font: "DejaVu Sans Mono", "Droid Sans Mono", "Fira Mono", "Source Code Pro", Menlo, Monaco, Consolas, monospace;

body {
    font-family: $body-font;
}

div#site-container {
    margin: 2rem auto 4rem auto;
    max-width: 650px;
    line-height: 1.2;
    font-size: 16px;
    padding: 10px;
}

nav#site-nav {
    font-family: $code-font;
    display: inline-block;
    padding: 10px;
    background-color: #DDD;
}

div#post-date {
    display: inline-block;
    float: right;
    padding-left: 10px;
    padding-right: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    margin-bottom: 0.5rem;
    font-weight: bold;
    line-height: 1.25;
}

header {
    font-size: 16px;
}

footer {
    font-size: 12px;

    hr {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

// Code
// --------------------------------------------------

code,
pre {
    font-family: $code-font;
}

code {
    padding: 0.25em 0.5em;
    font-size: 85%;
    border-radius: 3px;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 0.85rem;
    line-height: 1.4;
    white-space: pre;
    overflow: auto;
    word-wrap: normal;
    background-color: #343434;

    code {
        padding: 0;
        font-size: 100%;
        color: inherit;
        background-color: transparent;
    }
}

.highlight {
    margin-bottom: 1rem;
    border-radius: 4px;

    pre {
        margin-bottom: 0;
    }
}
