<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="widht=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
        <meta name="author" content="{{ config.extra.author.name }}">

        <link rel="dns-prefetch" href="https://fonts.googleapis.com/">

        <link href="{{ get_url(path="styles.css") }}" rel="stylesheet">

        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    </head>
    <body>
        <div id="site-container">
            <header id="site-header">
                <nav id="site-nav">
                    <a href="{{ config.base_url }}" class="{% if not page.path %}active{% endif %}">Home</a>
                    <a href="{{ config.base_url }}/projects" class="{% if page %}{% if page.path == "&#x2F;projects" %}active{% endif %}{% endif %}">Projects</a>
                    <a href="{{ config.base_url }}/resume" class="{% if not page.path %}active{% endif %}">Resume</a>
                    <a href="{{ config.base_url }}/contact" class="{% if page %}{% if page.path == "&#x2F;contact" %}active{% endif %}{% endif %}">Contact</a>
                </nav>
            </header>
            <main class="site-content">
            {% block content %}{% endblock content %}
            </main>
            <footer class="site-footer">
                <hr />
                <span class="copyright">© {{ now() | date(format="%Y") }} Liam Woodward |</span>
                <span class="powered-by">
                    Powered by
                    <a href="https://www.getzola.org/">Zola</a>.
                </span>
            </footer>
        </div>
    </body>
</html>
