{% extends "base.html" %}

{% block description %}
Liam Woodward's personal website.
{% endblock description %}

{% block content %}
                <h1>Liam Woodward</h1>
                <p>
                I'm currently a freshman at the University of Pittsburgh. I'm majoring in Computer Science and planning to minor in Mathematics. I enjoy reading, beekeeping, singing, walking, and high quality coffee.
                <br \>
                <br \>

                I spend a large portion of my free time working on my <a href="{{ config.base_url }}/projects">projects</a>. I'm currently most interested in learning about programming language design, including interpeters, compilers, type systems, programming paradigms, etc. My favorite language is currently Rust.
                <br \>
                <br \>

                Feel free to <a href="{{ config.base_url }}/contact">contact me</a>.
                </p>
{% endblock content %}
